     #main-menubar > menu {
       -moz-box-ordinal-group: 1 !important;
       font-size: 13px;}  /*选单列 */

     #main-menubar menu menupopup * {
       font-size: 13px;
     }

     #nav-bar {
       -moz-box-ordinal-group: 2 !important;
       font-size: 13px;
     }  /*导航列 */

     #PersonalToolbar {
       -moz-box-ordinal-group: 3 !important;
       font-size: 13px;
       height: 35px;
     }  /*书签列 */

     #personal-bookmarks .bookmark-item > .toolbarbutton-icon {
      margin-left: 10px !important;
      padding: 0px !important;
     }

     #TabsToolbar {
       -moz-box-ordinal-group: 4 !important;
       font-size: 13px;
       height: 30px;
     }  /*分页列 */

     #main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
       padding-bottom: 35px !important;
     }

     #TabsToolbar {
       display: block;
       position: absolute !important;
       bottom: 5px !important;
       width: 100vw !important;
     }

     #tabbrowser-tabs {
       width: 120vw !important;
     }

     /* hide line above navigation toolbar appearing in some cases */
     #main-window:not([tabsintitlebar]) #nav-bar,
     #main-window:not([tabsintitlebar]) #navigator-toolbox {
       border-top: 0 !important;
       box-shadow: unset !important;
     }

     /* disable Mozillas tab jumping nonsense when moving tabs */
     #navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
       padding-bottom: unset !important;
     }
     #navigator-toolbox[movingtab] #tabbrowser-tabs {
       padding-bottom: unset !important;
       margin-bottom: unset !important;
     }
     #navigator-toolbox[movingtab] > #nav-bar {
       margin-top: unset !important;
     }

     /* size of new tab tabs '+' icon */
     .tabs-newtab-button .toolbarbutton-icon {
       padding: 0px !important;
       margin: 0px !important;
       width: 15px !important;
       height: 15px !important;
     }