#main-menubar > menu {
    -moz-box-ordinal-group: 1 !important;
    font-size: 13px !important;
}  /*选单列 */

#main-menubar menu menupopup * {
    font-size: 13px !important;
}

#nav-bar {
    -moz-box-ordinal-group: 2 !important;
    font-size: 13px !important;
}  /*导航列 */

#PersonalToolbar {
    -moz-box-ordinal-group: 3 !important;
    font-size: 13px !important;
    height: 35px !important;
}  /*书签列 */

#personal-bookmarks .bookmark-item > .toolbarbutton-icon {
    margin-left: 10px !important;
    padding: 0px !important;
}

#TabsToolbar {
    display: block !important;
    -moz-box-ordinal-group: 4 !important;
    position: absolute !important;
    font-size: 13px !important;
    width: 100vw !important;
    height: 30px !important;
}  /*分页列 */

#main-window[sizemode="maximized"] #TabsToolbar {
    top: 105px !important;
}  /*分页列 */

#main-window:not([sizemode="maximized"]) #TabsToolbar {
    top: 105px !important;
}  /*分页列 */

#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
    padding-bottom: 42px !important;
}

#tabbrowser-tabs {
    width: 120vw !important;
}

/* hide line above navigation toolbar appearing in some cases */
#main-window:not([tabsintitlebar]) #nav-bar,
#main-window:not([tabsintitlebar]) #navigator-toolbox {
    border-top: 0 !important;
    box-shadow: unset !important;
}

/* disable Mozillas tab jumping nonsense when moving tabs */
#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
    padding-bottom: unset !important;
}
#navigator-toolbox[movingtab] #tabbrowser-tabs {
    padding-bottom: unset !important;
    margin-bottom: unset !important;
}
#navigator-toolbox[movingtab] > #nav-bar {
    margin-top: unset !important;
}

/* size of new tab tabs '+' icon */
.tabs-newtab-button .toolbarbutton-icon {
    padding: 0px !important;
    margin: 0px !important;
    width: 15px !important;
    height: 15px !important;
}
